html {
    box-sizing: border-box;
}
*,*::before, *::after {
    box-sizing: inherit;
}
p,h1,h2,span,body {
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #1C1C1C;
}
.container {
    width: 100%;
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
}
/*-----------------------Header-----------------------*/
.header__inner {
    display: flex;
}
.nav__inner {
    text-decoration: none;
    margin-left: 21px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
.header {
    background: url("../img/background-header.jpg")
    center no-repeat;
    width: 100%;
    height: 773px;
}
.header__inner {
    padding-top: 36px;
}
.header_logo {
    margin-right: 117px;
}
.intro_h1 {
    position: static;
    width: 509px;
    height: 160px;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 120px 0px 35px;
}
.intro_h4 {
    position: static;
    width: 376px;
    height: 60px;
    /*left: 0px;*/
    top: 195px;
    /*font-family: Montserrat;*/
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 35px 0px;
}
.intro_btn1 {
    width: 185px;
    height: 48px;
    background: #FFA62B;
    padding: 10px 36px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    border-radius: 20px;
}
.intro_btn2 {
    background: none;
    padding: 10px 36px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #00A0C1;
    height: 28px;
    border-radius: 20px;
    border: 1px solid #00A0C1;
    margin-left: 7px;
}
.header_items_inner {
    display: flex;
    /*flex-wrap: wrap;*/
}
.header_item1 {
    position: static;
    padding:  35px 40px;
    width: 328px;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin: 80px 30px -19px 0px;
}
.header_item1:nth-last-child(margin-right){
    margin-right: 0px;
}
.header_item_logo {
    left: 0.71%;
    right: 0.71%;
    top: 0.19%;
    bottom: 0.19%;
    /*color: #00A0C1;*/
}

.header_h3{
    position: static;
    width: 270px;
    height: 32px;
    left: 40px;
    top: 93px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
    margin: 10px 0px;
}
.header_item1_p {
    width: 224px;
    height: 40px;
    left: 40px;
    top: 135px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    margin: 10px 0px;
}

/*-----------------------Header-----------------------*/
/*-----------------------Features-----------------------*/
.features {
    background: #FAFAFA;
}
.features__inner {
    flex-direction: row;
    justify-content: center;
    padding-top: 192px;
}
.features__inner__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.features_h2 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    margin: 10px 0px;
}
.features_p_text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    margin: 10px 0px;
    text-align: center;
}
.features_item {
    padding: 30px 40px;
    background: #FFFFFF;
    width: 209px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 38px;
}
.features_item:first-child {
    margin-left: 0px;
}
.features_h2_item {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 53px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
}
.h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #737373;
    margin: 10px 0px;
}
.features2__inner__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;
}
.features2_item{
    background: #FFFFFF;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}
.features2_h5{
    width: 130px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
    margin: 15px auto;
}
.features2_p {
    width: 160px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    margin: 15px 29px;
    /*text-align: left;*/
}
.features2_img{
    margin: 0;
    padding-left: 0;
}
/*-----------------------Features-----------------------*/
/*-----------------------About-----------------------*/
.about {
    background: #FFFFFF;
    padding: 100px 0;
}
.about__inner {
    /*display: flex;*/
}
.about_header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.about_h2 {
        width: 461px;
        height: 114px;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 57px;
        text-align: center;
        color: #252B42;
        margin: 15px auto;
}
.about_p {
    width: 511px;
    height: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #737373;
    margin: 15px auto;
}
.about_items {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.about_video {
    width: 597px;
}
.about_item_h2 {
    width: 324px;
    height: 114px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    margin: 10px 0px;
}
.about_item_p {
    width: 330px;
    height: 60px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    margin-top: 10px;
}
.about_card {
    margin-top: 50px;
    display: flex;
}
.about_logo {
    width: 30px;
    height: 30px;
}
.about_card_h5 {
    width: 277px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin: 5px 0px 5px 22px;
    color: #252B42;
}
.about_card_h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    margin: 5px 0px 5px 22px;
}
/*-----------------------Clients-----------------------*/
.clients {
    background: #FAFAFA;
    display: flex;
}

.clients_logos {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    align-items: center;
}
.clients_subscribe {
    margin-top: 70px;
    padding: 30px 50px;
    background: #16697A;
    border-radius: 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.clients_subscribe_h3 {
    width: 258px;
    height: 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.clients_subscribe_form {
    background-color: #16697A;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0;

}
.subscribe_input {
    width: 333px;
    height: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #737373;
    border: 1px solid #16697A;
    border-radius: 5px 0 0 5px;
    padding-left: 20px;

}
.subscribe_btn {
    width: 117px;
    height: 100%;
    background: #FFA62B;
    padding: 15px 22px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    border: 1px solid #16697A;
    border-radius: 0 5px 5px 0;
}
.clients_cover {
    margin-top: -57px;
    height: 77px;
    background: #252B42;
}

/*-------------Clients-------------*/
/*-------------Contact-------------*/
.contact {
    background: #F3F3F3;
}
.contact__inner {
    padding-top: 80px;
    padding-bottom: 110px;
    flex-direction: column;
    justify-content: center;
}
.contact_h2 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    margin: 10px 0;
}
.contact_p {
    text-align: center;
    width: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    margin: 10px auto;
}
.contact_items {
    display: flex;
    padding-bottom: 178px;
    align-items: center;
}
.contact_item {
    margin-right: 2px;
    text-align: center;
    width: 33%;
    background-color: #FFFFFF;
    padding: 50px 40px 50px 40px;
}
.contact_item_img {
    margin-bottom: 15px;
}
.contact_item_h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #252B42;
}
.contact_item_h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
    margin: 15px 0px;
}
.contact_item_btn {
    width: 160px;
    height: 44px;
    background: white;
    padding: 10px 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFA62B;
    border-radius: 5px;
    border: 1px solid #FFA62B;
}
.contactUs {
    background: #FAFAFA;
    padding: 40px 0;
}
.contactUs_inner {
    display: flex;
    justify-content: space-between;
}
.contactUs_h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
    margin: 10px 0px;
}
.contactUs_p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    margin: 10px 0px;
}
.contactUs_btn {
    margin-right: 20px;
    height: 60px;
    background: #FFA62B;
    border-radius: 5px;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
}
/*-------------Contact-------------*/

